/* h1 (Only site title) */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* nav menu */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/* p */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* Memo
    Yellow: #f5dd42
    black: #282c34
    gray: #616161

    Home -> Landing page
    Category -> category page, link to place page
    Place -> place page
*/

/*Global config*/
* {
    padding: 0px;
    margin: 0px;
}

p,
a {
    font-family: 'Inter', sans-serif;
    line-height: 2em;
    text-decoration: none;
    font-size: 1rem;
}

a {
    color: #616161
}

p {
    text-align: left;
}

/* default link hover action */
a:hover {
    color: red;
}

p {
    /* margin: 5px; */
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bree Serif', serif;
    text-align: center;
}

ul,
ol {
    list-style: none;
}

/* space to device edge*/
.space-device-edge {
    padding-right: 40px;
    padding-left: 40px;
}

.has-child {
    padding: 0px 10px 10px 10px;
    padding-bottom: 10px;
}

.breadcrumb {
    padding: 3px 0px 0px 15px;
}

.breadcrumb ol {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.breadcrumb li {
    text-decoration: none;
    color: gray;
}

.breadcrumb li:not([aria-current])::after {
    border-bottom: none;
    text-decoration: none;
    content: ">";
    margin: .25em;
    text-align: center;
}

.breadcrumb li a {
    text-underline-position: below;
    text-decoration: underline;
    text-decoration-color: #282c34;
}

.padding-all:not(:nth-child(1)) {
    padding: 4%;
}

.margin-all:not(:nth-child(1)) {
    margin: 4%;
}

.flex2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.flex1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item-equal-size {
    flex: 1;
}

/* Header configuration*/

header h1 {
    font-family: 'Pacifico', cursive;
    padding: 20px;
}

header nav {
    background-color: #f5dd42;
    align-items: center;
    font-size: 20px;
}

header nav ul {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 0px;
    margin: 0px;
}

header nav ul li {
    flex-grow: 1;
    text-align: center;
    padding: 15px 0px;
}

header nav ul li:hover {
    background-color: #282c34;
}

.tooltip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    width: 18%;
    padding: 10px;
    background-color: #ffffee;
    color: #282c34;
    box-shadow: 4px 4px black;
    font-size: 15px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 100%;
}

header nav ul li:hover .tooltip {
    visibility: visible;
}

header nav ul li:hover a {
    color: #f5dd42
}

header nav a {
    text-decoration: none;
    margin: 0px;
    color: #282c34;
}

/* Footer configuration */
footer {
    flex-grow: 1;
    justify-content: flex-start;
    margin-top: 80px;
}

footer * {
    color: #616161;
}

footer a:hover {
    color: red;
}

footer h4 {
    font-size: 1.2em;
    color: #282c34;
}

#footer-link-collection {
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 3px solid #f5dd42;
}

#footer-link-collection li {
    justify-content: flex-start;
}


#footer-bottom {
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0px;
    color: #282c34;
}

#footer-bottom * {
    text-align: center;
}


/* Home -> Landing page */
#home {
    background: url("images/park.jpg") center / cover;
}

#home h2 {
    font-size: 2em;;
}

#home section:not(:nth-child(1)) {
    margin-top: 80px;
}

.description-card {
    background-color: white;
    flex: 3;
    border: 2px solid #282c34;
    padding: 15px;
    margin: 20px 10%;
    border-radius: 10px;
    box-shadow: 6px 6px #282c34;
}

#home-link-collection {
    color: #282c34;
    justify-content: space-around;
}

#home-link-collection a {
    flex: 1 0 150px;
    max-width: 200px;
    padding: 15px;
    margin: 40px 20px;
    background-color: #f5dd42;
    text-align: center;
    justify-content: flex-start;
    border-radius: 20px;
    box-shadow: 3px 3px #282c34;
    text-decoration: none;
    color: #282c34;
}

#home-link-collection h3 {
    font-size: 1.5em
}

#home-link-collection a:hover {
    background-color: #282c34;
    color: #f5dd42;
    box-shadow: 3px 3px #f5dd42;
    transform: rotate(7deg);
}

#home-link-collection a:before {
    content: "â—";
    font-size: 30px
}

/* Category page */
.category-article {
    flex-wrap: nowrap;
}

.category-index {
    display: none;
    padding-right: 40px;
    margin-right: 20px;    
}

.category-index * {
    padding-left: 0px;
    font-family: 'Inter', sans-serif;
}
.category-index h4:before {
    content: "\00a0";
}

.category-index a:before {
    content: "\00a0\00a0";
}

.category-main {
    flex: 8;
    margin-top: 0px;;
    text-align: center;
}

#category-main-cards-collection {
    justify-content: space-around;
}

.place-card-in-category {
    flex: 1 0 150px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px #282c34;
    border: 2px solid #f5dd42;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    color: #282c34
}

.place-card-in-category:hover {
    background-color: #f5dd42;
    color: #282c34;
    transform: scale(1.05);
}

.place-card-in-category img {
    max-width: 100%;
    margin-top: 20px;
}

.place-card p {
    color: white;
}

.place-main article h2 {
    font-size: 50px
}

.place-detail {
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    color: #282c34;
    border-bottom: 2px solid #f5dd42;
}

.place-detail-collection li:nth-child(even) .place-detail {
    flex-direction: row-reverse;
}


.place-detail * {
    padding: 0px 10px;
}

.flip {
    flex-direction: row-reverse;
}

.place-detail > p {
    flex: 4
}

.place-detail .place-detail-image-container {
    flex: 1
}

.place-detail img {
    max-width: 100%;
}

@media screen and (max-width: 375px) {
    nav {
        display: none;
    }
    .flex2 {
        flex-direction: row;
    }

    .flex1 {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    header {
        background-color: #f5dd42;
    }

    header h1 {
        text-align: center;
    }

    footer {
        margin-top: 40px;
    }

    #footer-link-collection .flex2{
        flex-direction: column;
        margin-bottom: 20px;
    }

    #home section:not(:nth-child(1)){
        margin-top: 40px;
    }

    .breadcrumb {
        /* display: none; */
        visibility: hidden;
    }

    #header title {
        /*        flex-direction: column;*/
        justify-content: center;
        align-items: center;
    }

    #home-link-collection a {
        margin: 20px 20px;
        flex-direction: column;
    }

    .category-index {
        display: none;;
    }
}

@media screen and (max-width: 1440px) {}
